.second-chat__screen {
  display: flex;
  position: fixed;
  top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 192, 110);
  justify-content: center;
}

.nomad-center {
  display: flex;
  position: fixed;
  top: 470px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: nomadfadein 8s 2s linear forwards;
}

.nomad-center img {
  width: 130px;
  height: 100px;
  padding-right: 15px;
  animation: ca 5s linear infinite;
}

@keyframes ca {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.center__contant {
  font-size: 40px;
  color: white;
}

.moving {
  display: flex;
  position: fixed;
  top: 100px;
  width: 100%;
  height: 900px;
  flex-direction: column;
}

.f {
  width: 100%;
  height: 770px;
  top: -400px;
  position: absolute;
  background-color: black;
  animation: superhard 8s linear forwards;
}

.t {
  width: 100%;
  height: 800px;
  top: 470px;
  position: absolute;
  background-color: black;
  animation: superhard2 8s linear forwards;
}

@keyframes superhard {
  0% {
    transform: translateY(50px);
  }
  20% {
    transform: none;
  }
  33% {
    transform: translateY(-300px);
  }
  46% {
    transform: translateY(400px);
  }
  59% {
    transform: translateY(-200px);
  }
  72% {
    transform: translateY(300px);
  }
  85% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes superhard2 {
  0% {
    transform: translateY(-50px);
  }
  20% {
    transform: none;
  }
  33% {
    transform: translateY(-300px);
  }
  46% {
    transform: translateY(400px);
  }
  59% {
    transform: translateY(-200px);
  }
  72% {
    transform: translateY(300px);
  }
  85% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes nomadfadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
